/*style.css*/
    h1{
        text-align: center;
        color: rgb(196, 140, 19);
        font-size: 50px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        width: 500px;
    }
    h3{
        text-align: center;
        color: black;
        font-size: 15px;
        font-family: 'Courier New', Courier, monospace;
    }
    h2{
        text-align: left;
        color: rgb(196, 140, 19);
        font-size: 20px;
        font-family: 'Courier New', Courier, monospace;
    }
    #Home{
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align:right
    }

    *{
        background-color: #444546;
        color: #6b0906;
    }