/*styles.css*/
    h1{
        color: #6b0906;
        text-align: center;
        font-size: 150px;
        background-color: #888c8d;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    *{
        font-size: 50px;
        background-color: #444546;
    }

    .chicken{
        margin: 5px;
        margin-bottom: 10px;
        color: rgb(30, 30, 224);
        font-family: 'Courier New', Courier, monospace;
    }

    .cereal{
        margin: 5px;
        margin-bottom: 10px;
        color: rgb(30, 30, 224);
        font-family: 'Courier New', Courier, monospace;
    }

    .cheese{
        margin: 5px;
        color: rgb(30, 30, 224);
        font-family: 'Courier New', Courier, monospace;
    }